html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  background-color: #f1f1f1;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

.all-projects {
  margin: 50px 20px;
  grid-column: 1/4;
}

.contact-form {
  grid-column: 1/4;
}

ul {
  padding: 0;
}
h3 {
  margin: 0;
}

h1 {
  font-size: 40px;
}

html {
  height: 100%;
}

section {
  margin-bottom: 50px;
}

.section-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  -webkit-appearance: none;
  height: 25px;
  width: 275px;
  font-size: 16px;
  outline-color: #2565a0;
  outline-width: 2px;
  font-family: inherit;
  border: 1px solid #6b9eb263;
  border-radius: 0;
}

button {
  transition: background-color 1s ease;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #6b9eb263;
  outline-color: #2565a0;
  outline-width: 2px;
  outline-offset: -2px;
  height: 35px;
  width: 70px;
  background-color: #b3cbe0;
}

button:hover {
  background-color: #6398bb;
}

textarea {
  height: 125px;
  width: 350px;
  resize: vertical;
}

.form-group > label {
  font-size: 18px;
  margin-bottom: 5px;
}

[tooltip] {
  position: relative;
  display: inline-block;
  border-bottom: dotted 1px #333;
}

.dark {
  color: #333;
}

[tooltip]::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 99;
  opacity: 0;
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: #333;
  text-align: center;
  color: #fff;
  padding: 4px 2px;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
  z-index: 99;
  opacity: 0;
}

[tooltip]:hover::after,
[tooltip]:hover::before {
  opacity: 1;
}

.container {
  display: grid;
  height: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  justify-items: center;
}

.i-am {
  display: inline-block;
  width: 65px;
}

header {
  margin-top: 59px;
  grid-row: 1;
  grid-column: 1/4;
  width: 100%;
  height: 225px;
  background-color: #496a88;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.avatar {
  margin: 0 auto;
  border: solid 1px #444;
  background: url('./assets/me.jpeg');
  background-size: cover;
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.avatar-sm {
  background: url('./assets/TE-02.svg');
  background-size: cover;
  border: none;
  box-shadow: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.avatar-lg {
  height: 125px;
  width: 125px;
  border-radius: 50%;
}

.brand {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  display: flex;
  align-items: center;
  justify-self: flex-start;
}

.avatar-sm {
  margin-right: 15px;
}

.hidden {
  opacity: 0;
}

.nodisplay{
  display: none;
}

#full-name {
  margin: 0;
}

.menu-button {
  display: none;
  width: 30px;
}

.hamburger {
  width: 100%;
  height: 4px;
  margin: 6px 0;
  background-color: rgb(236, 236, 236);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-button.expand #hamburger-middle {
  opacity: 0;
}
.menu-button.expand #hamburger-top {
  transform: rotate(45deg) translate(9px, 5px);
}
.menu-button.expand #hamburger-bottom {
  transform: rotate(-45deg) translate(9px, -5px);
}

.nav {
  width: 100%;
  grid-column: 1 / 4;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.nav {
  position: fixed;
  color: rgb(236, 236, 236);
  background-color: #333;
  -webkit-transition: padding-bottom 0.25s ease;
  -moz-transition: padding-bottom 0.25s ease;
  -ms-transition: padding-bottom 0.25s ease;
  -o-transition: padding-bottom 0.25s ease;
  transition: padding-bottom 0.25s ease;
}

.social-links {
  display: flex;
  width: 115px;
  justify-content: space-around;
  justify-self: flex-end;
}

.social-links-footer {
  display: flex;
  width: 115px;
  justify-content: space-around;
}

.nav-container {
  width: 75%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.footer {
  grid-column: 1 / 4;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: end;
  justify-content: space-evenly;
  width: 100%;
  background-color: #496a88;
}

a {
  text-decoration: none;
}

.social-link:hover {
  /* color: #6398bb; */
  color: #ffa400;
}

.self-tag {
  transition: all 2s ease;
  font-size: 18px;
  color: #f1f1f1;
  opacity: 1;
}

.nav-links {
  justify-self: center;
  display: flex;
  width: 200px;
  justify-content: space-around;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.nav-link {
  display: inline-block;
  width: fit-content;
  line-break: loose;
}

.nav a {
  color: rgb(236, 236, 236);
}

.nav-link:after {
  content: '';
  height: 2px;
  background-color: #759db0;
  display: block;
  width: 110%;
  margin-left: -5%;
  transform: scaleX(0);
  transition: all 0.25s ease;
}

.active:after {
  transform: scaleX(1);
}

.nav-link:hover:after {
  transform: scaleX(1);
}

.projects-container {
  grid-area: projects;
  width: 85%;
}

.tutorials {
  grid-area: tutorials;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
}

.project {
  width: 300px;
  height: 240px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;
}

.project:hover {
  transform: scale(1.15);
  z-index: 10;
}

.project-synopsis {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-form-success {
  grid-column: 1/4;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form-success > h1 {
  margin-bottom: 0;
}

/* .project:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.22);
} */

.project-title {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  font-size: 18px;
}

.project-description {
  font-size: 14px;
  color: #7d7d7d;
}

.center-text {
  text-align: center;
}

.project-img {
  width: 100%;
  height: 175px;
  text-align: bottom;
}

.project-tags {
  display: flex;
  justify-content: center;
}

.project-tag {
  font-size: 12px;
  margin: 2.5px;
  padding: 2px;
  border-radius: 2px;
  background-color: #759db0;
  width: auto;
}

.about {
  grid-area: about;
  font-size: 18px;
  width: 50%;
}

.menu-button {
  cursor: pointer;
  z-index: 10;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.project-item-link:hover {
  color: #6398bb;
}

.project-item-link {
  font-size: 24px;
  width: fit-content;
  color: #ffa400;
}

main {
  grid-column: 1 / 4;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  justify-items: center;
  grid-template-areas:
    'about about about'
    'projects projects projects'
    'tutorials tutorials tutorials';
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.hero-icon {
  height: 125px;
}

@media all and (max-width: 1025px) {
  .projects {
    grid-template-columns: 300px 300px;
    width: 100%;
    align-items: center;
  }
}

@media all and (max-width: 775px) {
  .projects {
    grid-template-columns: 300px;
    width: 100%;
    align-items: center;
  }

  .nav-container {
    width: 90%;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }

  .nav-links {
    z-index: 1;
    position: absolute;
    display: flex;
    top: -100px;
    flex-direction: column;
    font-size: 18px;
  }

  .brand {
    display: none;
  }

  .menu-button {
    display: inline-block;
    justify-self: flex-start;
  }

  .social-links {
    justify-self: flex-end;
  }

  .about {
    width: 90%;
  }
}
