<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128421074-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-128421074-1');
    </script>
        <link href={{ "static/styles.css" | relative_url }} rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script defer src="../build/{{ page.script }}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.data.meta.content}}">

    <!-- Twitter -->
    <meta name="twitter:card" content="{{site.data.meta.content}}">
    <meta name="twitter:site" content="@tmelliottjr">
    <meta name="twitter:title" content="{{ site.name }} | {{ page.title }}">
    <meta name="twitter:description" content="{{site.data.meta.content}}">
    <meta name="twitter:creator" content="@tmelliottjr">
    <meta name="twitter:image" content="tomelliott.io/static/assets/te-light.svg">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ site.name }} | {{ page.title }}">
    <meta property="og:type" content="portfolio">
    <meta property="og:url" content="https://www.tomelliott.io/">
    <meta property="og:image" content="tomelliott.io/static/assets/te-light.svg">
    <meta property="og:description" content="{{site.data.meta.content}}">
    <meta property="og:site_name" content="{{ site.name }} | {{ page.title }}">

    <title>{{ site.name }} | {{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href={{ "static/assets/favicon.png" | relative_url }}>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>

<body class="preload">
    <div class="container">
        <nav class="nav box-shadow">
            <div class="nav-container">
                <div id="menu-button" class="menu-button">
                    <div id="hamburger-top" class="hamburger"></div>
                    <div id="hamburger-middle" class="hamburger"></div>
                    <div id="hamburger-bottom" class="hamburger"></div>
                </div>
                <div class="brand">
                    <div class="avatar avatar-sm"></div>
                    <a class="nav-link" href="/">
                        <h3>Tom Elliott</h3>
                    </a>
                </div>
                <div class="nav-links">
                    {% for item in site.data.nav_items %}
                    <a href={{ item.url | relative_url }} class="nav-link {% if item.url == page.url %} active {% endif %}">
                        {{ item.name }}</a>
                    {% endfor %}
                </div>
                <div class="social-links">
                    <a href="https://github.com/tmelliottjr" target="_blank" class="social-link"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/tom-elliott-314659157" target="_blank" class="social-link"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/tmelliottjr" target="_blank" class="social-link"><i class="fab fa-twitter"></i></a>
                    <a href="mailto:contact@tomelliott.io" target="_blank" class="social-link"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </nav>
        {{ content }}
        <footer class="footer">
            Tom Elliott | Full Stack Developer
            <div class="social-links-footer">
                <a href="https://github.com/tmelliottjr" class="social-link dark"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/tom-elliott-314659157" class="social-link dark"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://twitter.com/tmelliottjr" target="_blank" class="social-link dark"><i class="fab fa-twitter"></i></a>
                <a href="mailto:contact@tomelliott.io" class="social-link dark"><i class="fas fa-envelope fa-w-16"></i></a>
            </div>
        </footer>
    </div>
</body>

</html>