<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128421074-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-128421074-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.data.meta.content}}">

    <!-- Twitter -->
    <meta name="twitter:card" content="{{site.data.meta.content}}">
    <meta name="twitter:site" content="@tmelliottjr">
    <meta name="twitter:title" content="{{ site.name }} | {{ page.title }}">
    <meta name="twitter:description" content="{{site.data.meta.content}}">
    <meta name="twitter:creator" content="@tmelliottjr">
    <meta name="twitter:image" content="tmelliottjr.com/static/assets/TE-02.svg">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ site.name }} | {{ page.title }}">
    <meta property="og:type" content="portfolio">
    <meta property="og:url" content="https://www.tmelliottjr.com/">
    <meta property="og:image" content="tmelliottjr.com/static/assets/TE-02.svg">
    <meta property="og:description" content="{{site.data.meta.content}}">
    <meta property="og:site_name" content="{{ site.name }} | {{ page.title }}">

    <title>{{ site.name }} | {{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="static/assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href={{ "static/styles.css" | relative_url }} rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="nav box-shadow">
            <div class="nav-container">
                <div id="menu-button" class="menu-button">
                    <div id="hamburger-top" class="hamburger"></div>
                    <div id="hamburger-middle" class="hamburger"></div>
                    <div id="hamburger-bottom" class="hamburger"></div>
                </div>
                <div class="brand">
                    <div class="avatar avatar-sm"></div>
                    <a class="nav-link" href="/">
                        <h3>Tom Elliott</h3>
                    </a>
                </div>
                <div class="nav-links">
                    {% for item in site.data.nav_items %}
                    <a href={{ item.url | relative_url }} class="nav-link {% if item.url == page.url %} active {% endif %}">
                        {{ item.name }}</a>
                    {% endfor %}
                </div>
                <div class="social-links">
                    <a href="https://github.com/tmelliottjr" target="_blank" class="social-link"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/tom-elliott-314659157" target="_blank" class="social-link"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/tmelliottjr" target="_blank" class="social-link"><i class="fab fa-twitter"></i></a>
                    <a href="mailto:contact@tmelliottjr.com" target="_blank" class="social-link"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </nav>
        <a class="anchor" id="about"></a>
        <header>
            {% if page.header == "main" %}
            <div class="header-content">
                <div class="avatar avatar-lg"></div>
                <h1 id="full-name">
                    <!-- {{include.data}} -->
                    Tom Elliott
                </h1>
                <span class="self-tag">developer</span>
            </div>
            {% else %}
            {% include header.html hero=page.hero section_name=page.section_name %}
            {% endif %}
        </header>
        {{ content }}
        <footer class="footer">
            Tom Elliott | Full Stack Developer
            <div class="social-links-footer">
                <a href="https://github.com/tmelliottjr" class="social-link dark"><i class="fab fa-github-square fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/tom-elliott-314659157" class="social-link dark"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://twitter.com/tmelliottjr" target="_blank" class="social-link dark"><i class="fab fa-twitter-square fa-2x"></i></a>
                <a href="mailto:contact@tmelliottjr.com" class="social-link dark"><i class="fas fa-envelope-square fa-2x"></i></a>
            </div>
        </footer>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src={{ "./build/bundle.js" | relative_url }}></script>
</body>

</html>